<div *ngIf="vinilsData">

    <div class="imageVinil" *ngFor="let vinil of vinilsData">
      <img class="image" [src]="vinil.imageUrl" alt="image">
      <div *ngIf="token" class="info">
        <p>Title: {{vinil.title}}</p>
        <p>Description: {{vinil.description}}</p>
        <p>Price: {{vinil.price}}</p>
        <button>Buy</button>
        <div *ngIf="isAdmin()">
          <button id="{{vinil._id}}" class="buttonBuy" routerLink="/update" routerLinkActive="active">Update</button>
          <button routerLink="/delete" routerLinkActive="active">Delete</button>
        </div>

      </div>
    </div>

</div>


