.vinylContent{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap ;
}
.imageVinil{
  margin: 1.22em;
  border: 1px solid black;

  /*display: inline-block;*/
  background: white;
}
.image{
  height: 220px;
  width: 220px;

}
.info{
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-shrink: inherit;
  background: white;

}

p{
  font-weight: 600;
}

button{
  width: 60%;
  background: rgb(40, 76, 66);
  color: rgb(200, 177, 140);
  font-size: 1.5em;
  border-style: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 0.2em;
  color: white;
}
button:hover{
  cursor: pointer;
  color: red;
}
button:focus {
  outline: none;
}
