<div *ngIf="vinilsData" class="vinylContent">

    <div class="imageVinil" *ngFor="let vinil of vinilsData">
      <img class="image" [src]="vinil.imageUrl" alt="image">
      <div *ngIf="token" class="info">
        <p>Title: {{vinil.title}}</p>
        <p>Description: {{vinil.description}}</p>
        <p>Price: ${{vinil.price}}</p>
        <button (click)="addProductToCard(vinil.price)">Buy</button>
        <div *ngIf="isAdmin">
          <button routerLink="/update/{{vinil._id}}" routerLinkActive="active">Update</button>
          <button routerLink="/delete/{{vinil._id}}" routerLinkActive="active">Delete</button>
        </div>

      </div>
    </div>

</div>


