<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">

    <div class="form-group">
      <label>Name</label>
      <br/>
      <input #nameModel="ngModel" ngModel  type="text" name="username" required>
    </div>
    <div *ngIf="nameModel.touched && nameModel.invalid" class="error-input">Name is required</div>

    <div class="form-group">
      <label>Password</label>
      <br/>
      <input #passModel="ngModel" ngModel  type="password" minlength="3" maxlength="20" name="hashedPassword" required>
    </div>
    <div *ngIf="passModel.touched && passModel.invalid" class="error-input">Password is required</div>

    <button [disabled]="loginForm.invalid">Login</button>
  </form>
</div>

