header{
  display: flex;
  justify-content: space-between;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIK69sxiI47J2DbLnLW7bA_E5B_UCmdTV0UTBQ3ysk77_DPL3_");
  background: black;
}

h1{
  display: inline-block;
  font-size: 3em;
  margin-bottom: 0;
}

span:first-of-type{
  margin: 0.5em 0 0 0.5em;

}

.cart{
  border: 1px solid rgb(41, 73, 64);
  border-radius: 5px;
  margin: 2em;
  padding: 1em;
  display: flex;
  align-items: center;
  height: 0.2em;
  font-size: 1.3em;


}

#cartTotal{
  margin-top: 0;
  color: white;
}
