<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
    <h1>Registration form</h1>
    <div class="form-group">
      <label for="nameModel">Name</label>
      <br/>
      <input
        id="nameModel"
        #nameModel="ngModel"
        ngModel
        type="text"
        name="username"
        required
      >

    </div>
    <div *ngIf="registerForm.controls.username?.touched && registerForm.controls.username?.errors?.required" class="error-input">Name is required</div>


    <div class="form-group">
      <label>Email</label>
      <br/>
      <input
        #emailModel="ngModel"
        ngModel
        type="email"
        name="email"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
      >
    </div>
    <div *ngIf="registerForm.controls.email?.touched && registerForm.controls.email?.errors?.required" class="error-input">Email is required</div>
    <div *ngIf="registerForm.controls?.email?.errors?.pattern" class="error-input">Email must be a valid email address</div>

    <div class="form-group">
      <label>Password</label>
      <br/>
      <input
        #passModel="ngModel"
        ngModel
        type="password"
        minlength="6"
        name="hashedPassword"
        required
      >
    </div>

    <div *ngIf="passModel.touched && passModel.invalid" class="error-input">Password must be at least 6 characters</div>

    <button [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
