.container{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROcP6TDNOsRFaY6o7cTfIVKUxVvHq4u7bdDte4XNBbrWr2xzzX");
  border: 1px solid black;
  margin: 2em;

  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.2em;
}

.form-group{
  margin-top: 1em;
}

input{

  font-size: 1em;
  margin-top: 0.5em;

}
textarea{
  width: 15em;
  font-size: 1em;
  margin-top: 0.5em;

}
label{
  color: red;
  background: rgb(0, 0, 0);
  padding: 0.2em;

}
button{
  font-size: 1em;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  color: red;
  background: rgb(41, 73, 64);
  border-style: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;


}
.error-input{
  color: red;
  font-size: 0.6em;
  background: rgb(0, 0, 0);
}
